@{ 
    ViewBag.Title = "Error";
}
<h3>You need to choose at least one Product to complete your process!</h3>
<hr />

@Html.ActionLink("Back to Home Page","Index","Home",null,new {@class="btn btn-default" })
