@{
    ViewBag.Title = "Thank You";
}

<h2>Thank You</h2>
<h4>Thank you for your order.</h4>
<br />
<br />
<hr />
Your Order Id = @ViewBag.OrderId
<br />
<hr />
<td><a href="@Url.Action("Index","Home")" class="btn btn-default">Go To Home Page</a></td>

